<section class="heading-section"> 
    <h1 class="title is-4 has-text-centered">Todos</h1>
</section>

<div class="container">
    <div class="add-todo-box">
        <form (submit)="onAdd()">
            <h1 class="title is-5">MY TODO</h1>
            <div class="field has-addons">
                <div class="control is-expanded">
                  <input class="input" 
                  type="text" 
                  name="myTodo" 
                  value="{{ myTodo }}"
                  [(ngModel)]= "myTodo"
                  placeholder="Enter Todo...">
                </div>
                <div  class="control">
                  <div *ngIf="editbutton; else elseBlock">
                    <button type="submit" class="button is-success">
                      <span class="material-icons" >
                        mode_edit_outline
                        </span> 
                        Edit
                      </button>
                  </div>
                  <ng-template #elseBlock>
                    <button type="submit" class="button is-info">
                    <span class="material-icons" >
                     add
                      </span> 
                     Add
                    </button>
                  </ng-template>
                  
                </div>
              </div>
        </form>
    </div>
</div>
<div class="section">
  <div class="container">
    <div class="todo-list" *ngFor="let todo of todos">

      <div class="todo-item" > 
        <div class="item-check">
          <div *ngIf="todo.done; else elseBlock">
            <span class="material-icons  md-dark md-inactive">
           check_circle
           </span>
       </div>
          <ng-template class="item-check" #elseBlock>
            <span class="material-icons">
              check_circle_outline
              </span>
          </ng-template>
        </div>
        
          <div class="{{todo.done? 'todo-text-completed': 'todo-text'}}" (click)="toogleDone(todo.id)">
            {{todo.todo}} 
          </div>

          <div class="todo-control-box">
            <div class="todo-control-buton">
              <span class="material-icons {{ todo.done ?  'md-dark md-inactive':'' }}" (click)="onEdit(todo.id)">
                edit
                </span>
            </div>
            <div class="todo-control-buton">
              <span class="material-icons"  (click)="onClick(todo.id)">
                delete
                </span>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>


